<div class="main__back">
  <a ui-sref="main" translate>main.back</a>
</div>
<div class="main__hints container-fluid pb-4">
  <div ng-if="!$ctrl.game.hasExplainers()" class="m-4 p-4 text-center main__hints__content">
    <i class="fa fa-ambulance fa-4x text-muted"></i>
    <h2 translate>main.hints.none</h2>
    <p class="lead" translate>main.hints.description</p>
  </div>
  <ul class="list-group mt-4" ng-if="$ctrl.game.hasExplainers()">
    <li ng-repeat="explainer in $ctrl.game.explainers"
        ng-class="{'main__hints__item--active': $ctrl.isActive(explainer)}"
        id="hint-{{::explainer.ref}}"
        class="list-group-item main__hints__item">
      <h5 class="main__hints__item__title">
        <a ui-sref="main.hints({ref: explainer.ref})">
          {{::explainer.title}}
        </a>
      </h5>
      <p class="mb-1 main__hints__item__body" ng-bind-html="::explainer.body | unsafe"></p>
    </li>
  </ul>
</div>
