.main__toolbar {
  background: transparent;
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  background: $brand-inverse;
  color: white;
  width: $toolbar-width;
  z-index:1000;
  overflow: visible;

  &__link {
    width:100%;
    height:$toolbar-width * 0.8;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    i.fa {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }

    a {
      color:inherit;
    }

    &.active a {
      color: $brand-inverse;
    }
  }

  &__var, &__link {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    padding:$spacer / 2;
    margin:$spacer / 2 0;
    font-family: $headings-font-family;

    .main &.active {
      position: relative;

      &:before {
        z-index: -1;
        background:white;
        content:"";
        position: absolute;
        top:0;
        left:$spacer / 2;
        right:0;
        bottom:0;
        border-radius: 0.5rem 0 0 0.5rem;
      }
    }

    &__digit {
      font-weight: bolder;
      font-size: 1.1rem;
      line-height: 1rem;
    }

    &__risk {
      border:1px solid $brand-inverse;
      width: $toolbar-width - $spacer;
      white-space: nowrap;
      margin:auto;

      &__case {
        padding:0;
        border-right:1px solid $brand-inverse;
        position: relative;
        display: block;
        background-color: rgba(white, 0.1);
        @include transition(600ms);

        &:last-child {
          border-right:0;
        }

        &:after {
          content:"";
          display: block;
          width: 100%;
          padding-bottom:100%;
        }

        &--active {
          $max: $bittersweet;
          $min: $brand-secondary;
          &:nth-child(1)  { background-color:mix($max, $min, 10); }
          &:nth-child(2)  { background-color:mix($max, $min, 20); }
          &:nth-child(3)  { background-color:mix($max, $min, 30); }
          &:nth-child(4)  { background-color:mix($max, $min, 40); }
          &:nth-child(4)  { background-color:mix($max, $min, 40); }
          &:nth-child(5)  { background-color:mix($max, $min, 50); }
          &:nth-child(6)  { background-color:mix($max, $min, 60); }
          &:nth-child(7)  { background-color:mix($max, $min, 70); }
          &:nth-child(8)  { background-color:mix($max, $min, 80); }
          &:nth-child(9)  { background-color:mix($max, $min, 90); }
          &:nth-child(10) { background-color:mix($max, $min, 100); }
        }
      }
    }
  }

  &__separator {
    border-color:rgba(white, 0.1);
    margin:$spacer $spacer / 2;
    padding:0;
  }

  &__city-vars {
    max-width: 440px;
    width:100%;
    background: $brand-inverse;
    color: white;
    padding:$spacer;
    position: absolute;
    top:0;
    left:100%;
  }
}
