<div class="main__toolbar">
  <div class="main__toolbar__var">
    <i class="fa fa-money"></i>
    <span class="sr-only">Your bank account</span>
    <div class="main__toolbar__var__digit">
      €{{ $ctrl.game.var('personal_account').value | number }}
    </div>
  </div>
  <div class="main__toolbar__var" ng-repeat="risk in $ctrl.game.publicRisks">
    <i class="fa fa-{{ risk.icon }}"></i>
    <span class="sr-only">{{ risk.label }}</span>
    <div class="main__toolbar__var__risk container-fluid">
      <div class="row">
        <div ng-repeat="value in risk.cases"
             class="main__toolbar__var__risk__case col"
             ng-class="{'main__toolbar__var__risk__case--active': value <= risk.value}">
        </div>
      </div>
    </div>
  </div>
  <div class="main__toolbar__link" ui-sref-active-eq="active">
    <a ui-sref="main">
      <i class="fa fa-comments-o fa-2x"></i>
    </a>
  </div>
  <div class="main__toolbar__link" ui-sref-active-eq="active">
    <a ui-sref="main.vars">
      <i class="fa fa-line-chart fa-2x"></i>
    </a>
  </div>
  <div class="main__toolbar__link" ui-sref-active-eq="active">
    <a ui-sref="main.hints">
      <i class="fa fa-ambulance fa-2x"></i>
    </a>
  </div>
</div>
