.main__vars {

  &__item {
    padding-bottom:$spacer / 2;
    padding-top:$spacer / 2;
    border-bottom:  rgba($brand-inverse, 0.1) solid 1px;

    &__label {
      text-transform: uppercase;
      color: $text-muted;
      font-weight: bolder;
    }
  }
}
