<div class="main" ng-class="{'main--has-feedback': $ctrl.showFeedback}">
  <div class="main__toolbar" ng-dblclick="debug = !debug">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm main__toolbar__var">
          Your bank account
          <div class="main__toolbar__var__digit">
            €{{ $ctrl.game.var('personal_account').value | number }}
          </div>
        </div>
        <div class="col-sm main__toolbar__var" ng-repeat="risk in $ctrl.game.publicRisks">
          <i class="fa fa-{{ risk.icon }}"></i> {{ risk.label }}
          <div class="main__toolbar__var__risk container-fluid">
            <div class="row">
              <div ng-repeat="value in risk.cases"
                   class="main__toolbar__var__risk__case col"
                   ng-class="{'main__toolbar__var__risk__case--active': value <= risk.value}">
              </div>
            </div>
          </div>
        </div>
        <a class="col-sm main__toolbar__var main__toolbar__var--city" ng-click="$ctrl.showCityVars = !$ctrl.showCityVars">
          <i class="fa fa-bank fa-2x"></i>
        </a>
      </div>
    </div>
    <div class="main__toolbar__city-vars" ng-if="$ctrl.showCityVars">
      <div class="col-sm main__toolbar__var" ng-repeat="var in $ctrl.game.publicVars|filter:{category: 'city'}">
        {{ var.label }}
        <div class="main__toolbar__var__digit">
          €{{ var.value | number }} millions
        </div>
      </div>
    </div>
  </div>

  <div class="main__debug small" ng-if="debug">
    <div class="row">
      <div class="main__debug__vars col-sm-4">
        <table class="table table-striped table-sm">
          <thead class="thead-inverse">
            <tr>
              <th style="width: 40%">Label</th>
              <th>Category</th>
              <th>Value</th>
              <th>Worth it</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="var in $ctrl.game.vars">
              <td>
                {{ var.label }}
              </td>
              <td>
                {{ var.category }}
              </td>
              <td>
                {{ var.value }}
              </td>
              <td>
                <span class="badge badge-danger" ng-if="var.isWorthIt()">DANGER</span>
                <span class="badge badge-success" ng-if="!var.isWorthIt()">OK</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="main__debug__journey card card-block col-sm-8">
        <ol>
          <li ng-repeat="step in $ctrl.game.journey">
            {{ step.text }}
            <div ng-if="step.selection">
              ↪️ <span class="badge badge-default">{{ step.selection.text }}</span>
            </div>
          </li>
        </ol>
        <div ng-if="$ctrl.game.isOver()" class="alert alert-danger">
          Game over: <span class="badge badge-danger" ng-repeat="var in $ctrl.game.consequences">{{ var }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="main__steps" data-action="{{ $ctrl.lastAction }}">
    <div class="main__steps__timeline container-fluid">
      <div class="row">
        <div ng-repeat="year in $ctrl.game.years" class="col main__steps__timeline__year"  ng-class="{ 'main__steps__timeline__year--active':  year <= $ctrl.game.step.year }">
          <div class="main__steps__timeline__year__label">
            {{ ::year }}
          </div>
        </div>
      </div>
    </div>
    <div class="main__steps__item card card-block" ng-repeat="step in $ctrl.game.steps | filter:$ctrl.game.isCurrent">
      <p> {{ step.text }}</p>
      <ul class="list-unstyled row">
        <li class="col-lg my-1" ng-class="{ 'col-lg-6': step.choices.length > 3 }" ng-repeat="choice in step.choices">
          <button class="btn btn-block btn-primary" ng-click="step.select(choice)">
            {{ choice.text }}
          </button>
        </li>
      </ul>
      <button class="btn btn-link btn-sm main__steps__item__undo" ng-click="$ctrl.game.undo()" ng-if="$ctrl.game.history.length">
        Undo the last action
      </button>
    </div>
  </div>

  <div class="main__modal" ng-if="$ctrl.showFeedback">
    <div class="main__modal__overlay" ng-click="$ctrl.showFeedback = false"></div>
    <div class="main__modal__card card card-block">
      <p class="lead">{{ $ctrl.game.feedback }}</p>
      <div class="text-right">
        <button class="btn btn-primary" ng-click="$ctrl.showFeedback = false">
          Got it!
        </button>
      </div>
    </div>
  </div>

  <div class="main__modal" ng-if="$ctrl.game.isOver() && !$ctrl.showFeedback">
    <div class="main__modal__overlay"></div>
    <div class="main__modal__card card card-block">
      <div ng-bind-html="$ctrl.game.end.text | unsafe"></div>
      <div class="text-right">
        <button class="btn btn-link float-left" ng-click="$ctrl.game.undo()">
          Undo the last action
        </button>
        <button class="btn btn-primary" ng-click="$ctrl.playAgain()">
          Play again
        </button>
      </div>
    </div>
  </div>

</div>
