<div class="main" ng-class="{'main--has-feedback': $ctrl.showFeedback}">
  <main-toolbar game="$ctrl.game" ng-dblclick="debug = !debug"></main-toolbar>
  <main-debug game="$ctrl.game" ng-if="debug"></main-debug>

  <div class="main__intro" ng-if="!$ctrl.started">
    <div class="main__intro__content">
      <h1 class="main__intro__content__heading" data-fittext="1">
        The Good, The Bad and The Accountant
      </h1>
      <div class="main__intro__content__delayed">
        <p class="main__intro__content__meta lead">
          — by <a href="http://jplusplus.org" target="_blank">Journalism++</a>
        </p>
        <div class="main__intro__content__description lead">
          <p>You're the general manager of a large city. Balance ethics and the sirens of corruption to keep your position and get things done in town while remaining on the good side of the law.</p>
          <p>Whatever happens, don't get caught!</p>
        </div>
        <button class="btn btn-lg btn-primary main__intro__content__start mt-2 ml-2" ng-click="$ctrl.start()">
          Start a new game
        </button>
        <button class="btn btn-lg btn-primary main__intro__content__start mt-2 ml-2" ng-click="$ctrl.load()" ng-if="$ctrl.history.length">
          Continue
        </button>
      </div>
    </div>

  </div>

  <div class="main__steps" ui-view scroll-glue>
    <div ng-repeat="year in $ctrl.visibleYears()">
      <!-- Display year banner when it starts -->
      <div class="main__steps__year" ng-if="year <= $ctrl.game.step.year">
        <img class="main__steps__year__banner" ng-src="{{::$ctrl.game.findPicture(year)}}" />
        {{::year}}
      </div>
      <div class="main__steps__item card card-block" ng-repeat="step in $ctrl.game.journey|filter:{year}">
        <!-- Display chats-->
        <stack stack="step" game="$ctrl.game"></stack>
        <!-- Display choices-->
        <fieldset class="main__steps__item__choices" ng-if="step.isLastSlice() && !step.selection">
          <div class="list-unstyled row mb-0">
            <div class="col-lg mt-1 main__steps__item__choices__btn" ng-class="{ 'col-lg-6': step.choices.length > 3 }" ng-repeat="choice in :: step.choices">
              <button class="btn btn-block btn-sm btn-primary" ng-click="step.select(choice)" ng-class="{ active: step.selection == choice }">
                {{::choice.text}}
              </button>
            </div>
          </div>
        </fieldset>
        <!-- Display feedback after choices-->
        <stack stack="step.selection" game="$ctrl.game" ng-if="step.selection && step.selection.hasFeedback()"></stack>
        <!-- Cancel button when the step is over-->
        <fieldset ng-if="step.isDone()">
          <button class="btn btn-block btn-link btn-sm main__steps__item__undo my-2" ng-click="$ctrl.game.undo()">
            Undo the last action
          </button>
        </fieldset>
      </div>
    </div>
    <!-- Game is over ! -->
    <div class="main__steps__over" ng-if="$ctrl.game.isOver() && !$ctrl.showFeedback">
      <div ng-bind-html="$ctrl.game.end.text | unsafe" class="lead"></div>
      <div class="text-right">
        <button class="btn btn-secondary" ng-click="$ctrl.playAgain()">
          Play again
        </button>
      </div>
    </div>
  </div>

  <div class="main__picture" ng-repeat="picture in $ctrl.game.pictures track by $index" ng-show="picture === $ctrl.game.picture">
    <img ng-src="{{ picture }}"  class="main__picture__img" />
  </div>

  <div class="main__footer" ng-class="{ 'main__footer--hint': $ctrl.game.step.displayHint() }">
    <div class="main__timeline" ng-if="!$ctrl.game.step.displayHint()">
      <div class="container-fluid">
        <div class="row">
          <div ng-repeat="year in :: $ctrl.game.years" class="col main__timeline__year"  ng-class="{ 'main__timeline__year--active':  year <= $ctrl.game.step.year }">
            <div class="main__timeline__year__label">
              {{::year}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main__hint" ng-if="$ctrl.game.step.displayHint()">
      <span class="main__hint__toggler btn btn-default btn-sm">
        {{ $ctrl.game.lastHint.title }}
      </span>
      <div class="main__hint__body">
        <div class="p-2 pb-3" ng-bind-html="$ctrl.game.lastHint.body | unsafe"></div>
      </div>
    </div>
  </div>
</div>
