.main {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  box-shadow: 0 0 50vh 0 $stonewall inset;

  &__toolbar {
    background: transparent;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    background: $brand-inverse;
    color: white;
    width:5rem;
    z-index:1000;
    overflow: visible;

    &__var {
      text-align: center;
      text-transform: uppercase;
      font-size: 1rem;
      padding:$spacer/2;
      font-family: $headings-font-family;

      .main &--city {
        width:100%;
        height:5rem;
        text-align: center;
        vertical-align: middle;
        position: relative;
        cursor: pointer;

        i.fa {
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%, -50%);
        }
      }

      &__digit {
        font-weight: bolder;
        font-size: 1.2rem;
        line-height: 1rem;
      }

      &__risk {
        border:1px dotted $body-color;
        max-width: 200px;
        margin:auto;

        &__case {
          padding:0;
          border-right:1px dotted $body-color;
          position: relative;
          display: block;
          background-color: $body-bg;
          @include transition(600ms);

          &:last-child {
            border-right:0;
          }

          &:after {
            content:"";
            display: block;
            width: 100%;
            padding-bottom:100%;
          }

          &--active {
            $max: $bittersweet;
            $min: $brand-secondary;
            &:nth-child(1)  { background-color:mix($max, $min, 10); }
            &:nth-child(2)  { background-color:mix($max, $min, 20); }
            &:nth-child(3)  { background-color:mix($max, $min, 30); }
            &:nth-child(4)  { background-color:mix($max, $min, 40); }
            &:nth-child(4)  { background-color:mix($max, $min, 40); }
            &:nth-child(5)  { background-color:mix($max, $min, 50); }
            &:nth-child(6)  { background-color:mix($max, $min, 60); }
            &:nth-child(7)  { background-color:mix($max, $min, 70); }
            &:nth-child(8)  { background-color:mix($max, $min, 80); }
            &:nth-child(9)  { background-color:mix($max, $min, 90); }
            &:nth-child(10) { background-color:mix($max, $min, 100); }
          }
        }
      }
    }

    &__city-vars {
      max-width: 440px;
      width:100%;
      background: $brand-inverse;
      color: white;
      padding:$spacer;
      position: absolute;
      top:0;
      left:100%;
    }
  }


  &__debug {
    position: absolute;
    right:0;
    bottom:0;
    top:0;
    width: calc(100% - 880px - 5rem);

    &__vars table {
      border:$table-border-color 1px solid;
      margin:0;
      thead th {
        color: white;
      }
    }
  }

  &__steps {
    background: white;
    position: fixed;
    bottom:4rem;
    top:0;
    left:5rem;
    width:100%;
    max-width: 880px;
    overflow: auto;
    border:0.5rem solid $brand-inverse;
    border-left:0;
    border-bottom:0;
    z-index:500;

    &__item {
      margin:0.5rem;

      &__slice {
        margin-bottom:2px;

        &__wrapper {
          font-size:1.1rem;
          padding:$spacer / 2;
          background: darken($card-bg, 5);
          display: inline-block;
          border-radius: 0.5rem;
        }
      }

      &__choices {
        margin-top: $spacer;

        li:first-child .btn {
          border-radius:0.5rem 0 0 0.5rem;
        }

        li:last-child .btn {
          border-radius:0 0.5rem 0.5rem 0;
        }

        li:first-child:last-child .btn {
          border-radius:0.5rem;
        }

        li:not(:first-child) {
          padding-left:2px;
        }

        li:not(:last-child) {
          padding-right:2px;
        }
      }

      .btn {
        cursor: pointer;
        white-space: normal;
        height:100%;

        &:not(.active):disabled {
          opacity: .3;
          filter:grayscale(100);
        }
      }
    }
  }

  &__timeline {
    position: absolute;
    bottom:0;
    left:5rem;
    width:100%;
    padding:$spacer * 2 $spacer;
    max-width: 880px;
    background: white;
    height:4rem;
    border:0.5rem solid $brand-inverse;
    border-left:0;
    border-top:0;

    &__year {
      height:.5rem;
      background: $brand-secondary;
      position: relative;
      filter:grayscale(100);
      white-space: nowrap;
      padding:0;
      @include transition(600ms);

      &--active {
        filter:grayscale(0);
      }

      &:nth-child(even) {
        background: lighten($brand-secondary, 10);
      }

      &__label {
        font-size: .8rem;
        position: absolute;
        bottom:100%;
        left:50%;
        transform: translateX(-50%);
        font-family: $headings-font-family;
      }

      &:nth-child(even) &__label {
        display: none;
      }
    }
  }

  &__modal {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: auto;
    z-index:2000;
    @include transition(600ms);

    &.ng-leave.ng-leave-active,
    &.ng-enter {
      opacity: 0;
    }

    &.ng-leave, &.ng-enter-active {
      opacity: 1;
    }

    &__overlay {
      background: rgba(black, .5);
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
    }

    &__card {
      max-width:660px;
      margin:$spacer * 4 auto;
    }
  }

}
