.slicable {
  &__slice {
    margin-bottom:2px;
    padding-left:$line-height-base + $spacer;
    position: relative;

    &__wrapper {
      font-size:1.1em;
      padding:$spacer / 4 $spacer / 2;
      background: darken($card-bg, 5);
      display: inline-block;
      border-radius: 0.5rem;
    }

    &__avatar {
      position: absolute;
      bottom:0;
      left:0;
      width:$line-height-base + $spacer / 2;
      border-radius: 50%;
    }

    &__character {
      font-size: 0.8em;
      display: block;
      padding:$spacer / 4 $spacer / 2;
      color: $text-muted;
    }
  }
}
