<div class="main__debug small">
  <div class="main__debug__vars">
    <table class="table table-striped table-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 40%">Label</th>
          <th>Category</th>
          <th>Value</th>
          <th>Worth it</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="var in $ctrl.game.vars">
          <td>
            {{ var.label }}
          </td>
          <td>
            {{ var.category }}
          </td>
          <td>
            {{ var.value }}
          </td>
          <td>
            <span class="badge badge-danger" ng-if="var.isWorthIt()">DANGER</span>
            <span class="badge badge-success" ng-if="!var.isWorthIt()">OK</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="main__debug__journey card card-block">
    <ol>
      <li ng-repeat="step in $ctrl.game.journey">
        {{ step.text }}
        <div ng-if="step.selection">
          ↪️ <span class="badge badge-default">{{ step.selection.text }}</span>
        </div>
      </li>
    </ol>
    <div ng-if="$ctrl.game.isOver()" class="alert alert-danger">
      Game over: <span class="badge badge-danger" ng-repeat="var in $ctrl.game.consequences">{{ var }}</span>
    </div>
  </div>
</div>
