.main__debug {
  position: absolute;
  right:0;
  bottom:0;
  top:0;
  width: calc(100% - #{$panel-width} - #{$toolbar-width-md});
  background:white;

  &__vars table {
    border:$table-border-color 1px solid;
    margin:0;
    thead th {
      color: white;
    }
  }
}
