.stack {
  &__slice {
    margin-bottom:2px;
    padding-left:calc(36px + #{$spacer});
    position: relative;

    &__wrapper {
      font-size:1.1em;
      padding:$spacer / 4 $spacer / 2;
      background: darken($card-bg, 5);
      display: inline-block;
      border-radius: 0.5rem;
    }

    &__avatar {
      border:1px solid rgba(black, 0.1);
      position: absolute;
      bottom:0;
      left:0;
      width:36px;
      border-radius: 3px;
    }

    &__character {
      font-size: 0.8em;
      display: block;
      padding:$spacer / 4 $spacer / 2;
      color: $text-muted;

      &__title {
        color: $brand-warning;
      }
    }
  }
}
